.article {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    margin-bottom: 4rem;
}

.article-content {
    margin: 2.5rem 3rem;
}

.article-content-header {
    margin-bottom: 1rem;
}

.article-content-body {
    font-weight: 300;
    letter-spacing: 0.035rem;
}

@media
screen and (max-width: 540px) {
    .article-content {
        margin: 1.75rem 2rem;
    }
}