.app {
    width: 100vw;
    height: 100vh;
}

.appLeftColumn {
    position: fixed;
    top: 0;
    left: 0;
    width: 22.5rem;;
    padding: 3rem 0rem 2.5rem 4rem;
}
.appLeftColumnContent {
    max-width: 40rem;
}

.appRightColumn {
    width: 100%;
    padding: 3rem 2.5rem 3rem 25rem;
}

.appRightColumnContent {
    margin: 0 auto;
    width: 80%;
    max-width: 52.5rem;
}

@media 
screen and (max-width: 768px) {
    .appLeftColumn {
        position: static;
        width: 100%;
        padding: 2.5rem;
    }

    .appRightColumn {
        padding: 0 2.5rem;
    }

    .appRightColumnContent {
        margin: 0;
        width: 100%;
        max-width: initial;
    }
}

@media
screen and (max-width: 540px) {
    .appLeftColumn {
        padding: 2.5rem 1rem;
    }

    .appRightColumn {
        padding: 0 1rem;
    }
}