.app {
    width: 100vw;
    height: 100vh;
}

.app-left-column {
    position: fixed;
    top: 0;
    left: 0;
    width: 22.5rem;;
    padding: 3rem 0rem 2.5rem 4rem;
}
.app-left-column-content {
    max-width: 40rem;
}

.app-right-column {
    width: 100%;
    padding: 3rem 2.5rem 3rem 25rem;
}

.app-right-column-content {
    margin: 0 auto;
    width: 80%;
    max-width: 42rem;
}

@media 
screen and (max-width: 768px) {
    .app-left-column {
        position: static;
        padding: 2.5rem;
    }

    .app-right-column {
        padding: 0 2.5rem;
    }

    .app-right-column-content {
        margin: 0;
        width: 100%;
        max-width: initial;
    }
}

@media
screen and (max-width: 540px) {
    .app-left-column {
        padding: 2.5rem 1rem;
    }

    .app-right-column {
        padding: 0 1rem;
    }
}