.app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.app-left-column {
    flex: 0 0 22.5rem;
    padding: 3rem 0rem 2.5rem 4rem;
}
.app-left-column-content {
    max-width: 40rem;
}

.app-right-column {
    flex: 1;
    padding: 3rem 2.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-right-column-content {
    margin: 0 auto;
    width: 80%;
    max-width: 42rem;
}

@media 
screen and (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .app-left-column {
        flex: 0 0 auto;
        padding: 2.5rem;
    }

    .app-right-column {
        flex: 0 0 auto;
        padding: 0 2.5rem;
    }

    .app-right-column-content {
        margin: 0;
        width: 100%;
        max-width: initial;
    }
}

@media
screen and (max-width: 540px) {
    .app-left-column {
        padding: 2.5rem 1rem;
    }

    .app-right-column {
        padding: 0 1rem;
    }
}