.site-header-download-btn {
    display: inline-block;
    margin: 0.5rem 0.7rem 0.7rem 0;
    border: 1px solid #000;
    text-decoration: none;
    padding: 0.3rem 0.35rem 0.1rem 0.35rem;
}

.site-header-download-btn:hover {
    border-color: #888;
    color: #888;
}