.headerTitle {
    margin-bottom: 0.5rem;
}

@media 
screen and (min-width: 768px) {
    .headerTitle {
        margin-top: 1rem;
    }
}

.headerPresentation {
    font-size: 1.25rem;
    margin-bottom: 0.7rem;
}

.headerDownloadBtn {
    display: inline-block;
    margin: 0.5rem 0.7rem 0.7rem 0;
    border: 1px solid #000;
    border-radius: 10%;
    padding: 0.25rem 0.5rem 0.13rem;
    font-size: 1.1rem;
    text-decoration: none;
    letter-spacing: 0.05rem;
    box-shadow: 0.15rem 0.15rem 0.0625rem 0px
}

.headerDownloadBtn:hover {
    color: inherit;
    transform: translate(0.1rem, 0.1rem);
    box-shadow: none;
}