.headerTitle {
    margin-bottom: 0.8rem;
}

.headerPresentation {
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
}

.headerDownloadBtn {
    display: inline-block;
    margin: 0.5rem 0.7rem 0.7rem 0;
    border: 1px solid #000;
    padding: 0.2rem 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.headerDownloadBtn:hover {
    color: inherit;
    transform: translate(-0.1rem, -0.1rem);
    box-shadow: 0.15rem 0.15rem 0.0625rem 0px #000;

}