.arrowButton {
    display: block;
    border: 1px solid #000;
    border-radius: 100%;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.58rem;
    font-weight: 500;
    background: #FFF;
    box-shadow: 0.15rem 0.15rem 0.0625rem 0px #000;
}

.arrowButton svg {
    width: 100%;
    height: auto;
}

.arrowButton:hover {
    cursor: pointer;
    background: #000;
}

.arrowButton:hover svg {
    /* fill: #888; */
    fill: #FFF;
}