.arrow-button {
    display: block;
    border: 1px solid #000;
    border-radius: 100%;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.58rem;
    font-weight: 500;
    background: #FFF;
    box-shadow: 0.15rem 0.15rem 0.0625rem 0px #000;
}

.arrow-button:hover {
    border-color: #888;
    color: #888;
}

.arrow-button .icon-arrow-top {
    width: 100%;
    height: auto;
}